<ion-content [fullscreen]="true" class="ion-padding-horizontal ion-text-center">
  <div class="background"></div>
  <div class="centrar">
    <div>
      <img src="../../assets/img/logoBlanco.png" style="width: 75%;">
      <h1 class="ion-padding-bottom">{{ 'AppName' | translate }}</h1>
      <ion-card>
        <ion-card-header style="color: white;">
          <span class="image-text">
            {{ 'Correcto.Message.Part1' | translate }}
            <br>
            {{ 'Correcto.Message.Part2' | translate }} 
            {{ password }}</span>
        </ion-card-header>
        <ion-card-content class="ion-padding-bottom">
          <img src="../../assets/img/correcto.png" class="rounded-image">
        </ion-card-content>
      </ion-card>
      <ion-row>
        <ion-col>
          <ion-nav-link (click)="ingreso()">{{ 'Ingreso.Button.IniciarSesion' | translate }}</ion-nav-link>
        </ion-col>
      </ion-row>
    </div>
  </div>
</ion-content>