<ion-content [fullscreen]="true" class="ion-padding-horizontal ion-text-center">
    <h3>
      {{ 'QR.Message.Part1' | translate }} {{ usuario.nombre }} {{ usuario.apellido }}!
    </h3>
    <p>
      {{ 'QR.Message.Help' | translate }}
    </p>

    <br>
    
    <div>
      <video *ngIf="scanning == true" #video class="video-frame"></video>
      <img *ngIf="scanning == false" src="../../../assets/img/noCamera.png" class="video-frame">
    </div>

    <canvas #canvas hidden></canvas>

    <ion-button *ngIf="scanning == true" (click)="stopQrScanning()">
      <ion-label>{{ 'QR.Button.DetenerScan' | translate }}</ion-label>
    </ion-button>

    <ion-button *ngIf="scanning == false" (click)="resumeQrScanning()">
      <ion-label>{{ 'QR.Button.ComenzarScan' | translate }}</ion-label>
    </ion-button>

</ion-content>