<ion-content [fullscreen]="true" class="ion-padding-horizontal ion-text-center">
  <div class="container">
    <h1 *ngIf="usuario" class="body-text">
      ¡Bienvenido/a, {{ nombre }} {{ apellido }}!
    </h1>
    <p class="body-text">
      Escanea el código QR para registrar tu asistencia a clases
    </p>

    <div *ngIf="escaneando">
      <video #video autoplay class="video-frame"></video>
      <canvas #canvas style="display: none;"></canvas>
    </div>

    <div *ngIf="!escaneando">
      <img src="../../../assets/img/noCamera.png" class="video-frame">
    </div>

    <ion-button *ngIf="!escaneando" expand="full" (click)="comenzarEscaneo()" class="button1">
      <ion-label>Escanear QR</ion-label>
    </ion-button>

    <ion-button *ngIf="escaneando" expand="full" (click)="detenerEscaneo()" class="button1">
      <ion-label>Detener Escaneo</ion-label>
    </ion-button>

    <!-- Separación para el botón de cerrar sesión -->
    <ion-button #recuperar (click)="cerrarSesion()" fill="clear" class="link1 cerrar-sesion">
      Cerrar Sesión
    </ion-button>
  </div>
</ion-content>