<ion-footer>
  <ion-toolbar color="primary" style="padding-bottom: 4px;">
    <ion-segment 
      value="codigoqr" 
      (ionChange)="segmentChanged(selectedComponent)"
      [(ngModel)]="selectedComponent"
      scrollable
    >
      <ion-segment-button value="codigoqr">
        <ion-icon name="qr-code-outline"></ion-icon>
        {{ 'Inicio.Footer.Button.QR' | translate }}
      </ion-segment-button>
      
      <ion-segment-button value="mi-clase">
        <ion-icon name="home-outline"></ion-icon>
        {{ 'Inicio.Footer.Button.MiClase' | translate }}
      </ion-segment-button>
      
      <ion-segment-button value="foro">
        <ion-icon name="pencil-outline"></ion-icon>
        {{ 'Inicio.Footer.Button.Foro' | translate }}
      </ion-segment-button>

      <ion-segment-button value="mis-datos">
        <ion-icon name="person-outline"></ion-icon>
        {{ 'Inicio.Footer.Button.MisDatos' | translate }}
      </ion-segment-button>

      <ion-segment-button *ngIf="usuario.username === 'admin'" value="usuarios">
        <ion-icon name="person-outline"></ion-icon>
        {{ 'Inicio.Footer.Button.Usuarios' | translate }}
      </ion-segment-button>

    </ion-segment>

  </ion-toolbar>
</ion-footer>