<ion-header></ion-header>
  <ion-toolbar>
    <ion-title>Pregunta de Seguridad</ion-title>
  </ion-toolbar>


<ion-content>
  <div>
    <h2>{{ username }}</h2> <!-- Muestra el nombre de usuario -->
    <p>¿Cuál es tu animal favorito?</p> <!-- Pregunta de seguridad -->
    <ion-item>
      <ion-label position="floating">Respuesta</ion-label>
      <ion-input [(ngModel)]="respuesta"></ion-input> <!-- Campo para la respuesta -->
    </ion-item>
    <ion-button expand="full" (click)="verificarRespuesta()" color="primary">
      Verificar Respuesta <!-- Botón para verificar la respuesta -->
    </ion-button>
    <p *ngIf="errorMessage" style="color: red;">{{ errorMessage }}</p> <!-- Mensaje de error si es necesario -->
  </div>
</ion-content>