<ion-header></ion-header>
  <ion-toolbar>
    <ion-title>Mis Datos Personales</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="cerrarSesion()">Cerrar Sesión</ion-button>
    </ion-buttons>
  </ion-toolbar>


<ion-content class="ion-padding">
  <ion-tabs>
    <ion-tab-bar slot="top">
      <ion-tab-button routerLink="/inicio" tab="inicio">
        <ion-label>Inicio</ion-label>
      </ion-tab-button>
      <ion-tab-button routerLink="/mi-clase" tab="mi-clase">
        <ion-label>Mi Clase</ion-label>
      </ion-tab-button>
      <ion-tab-button routerLink="/mis-datos" tab="mis-datos" [routerLinkActive]="['active']">
        <ion-label>Mis Datos</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>

  <form *ngIf="usuario" (ngSubmit)="actualizarDatos()">
    <h2>Cuenta</h2>

    <ion-item>
      <ion-label position="stacked">Usuario</ion-label>
      <ion-input [(ngModel)]="usuario.username" name="username" required readonly></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Nombre</ion-label>
      <ion-input [(ngModel)]="usuario.nombre" name="nombre" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Apellidos</ion-label>
      <ion-input [(ngModel)]="usuario.apellido" name="apellido" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Correo</ion-label>
      <ion-input type="email" [(ngModel)]="usuario.email" name="email" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Pregunta Secreta</ion-label>
      <ion-input [(ngModel)]="usuario.pregunta" name="pregunta" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Respuesta Secreta</ion-label>
      <ion-input [(ngModel)]="usuario.respuesta" name="respuesta" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Nivel Educacional</ion-label>
      <ion-select [(ngModel)]="usuario.nivel" name="nivel" required>
        <ion-select-option *ngFor="let nivel of nivelesEducacionales" [value]="nivel">
          {{ nivel.nombre }}
        </ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Fecha de Nacimiento</ion-label>
      <p>{{ usuario.fechaNacimiento | date: 'longDate' }}</p>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Contraseña</ion-label>
      <ion-input type="password" [(ngModel)]="usuario.password" name="password" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Repetir Contraseña</ion-label>
      <ion-input type="password" [(ngModel)]="repetirPassword" name="repetirPassword" required></ion-input>
    </ion-item>

    <ion-button expand="full" type="submit">Actualizar</ion-button>
  </form>

  <p class="success-message" *ngIf="mensajeExito">{{ mensajeExito }}</p>
  <p class="error-message" *ngIf="mensajeError">{{ mensajeError }}</p>
  <p *ngIf="!usuario">Cargando datos del usuario...</p>
</ion-content>