#mapId {
  height: 100vh; /* Hace que el mapa ocupe todo el alto de la pantalla */
}

.distance-info {
  position: absolute;
  bottom: 80px;            // Aumenta este valor para elevar el elemento desde la parte inferior
  left: 30px;              // Coloca el elemento a 20 píxeles desde la izquierda
  background-color: rgba(255, 255, 255, 0.8); // Fondo blanco semitransparente
  padding: 10px;          // Espaciado interno
  border-radius: 5px;     // Esquinas redondeadas
  font-size: 15px;        // Aumenta el tamaño de fuente
  font-weight: bold;      // Texto en negrita
  color: #333;            // Color del texto
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2); // Sombra para mayor profundidad
  z-index: 1000;          // Asegura que esté por encima de otros elementos
}