<ion-card *ngIf="asistencia">
  <ion-card-header>
    <ion-card-title class="centrar">{{ 'MiClase.Title' | translate }}</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <table class="minimal-table">
      <tbody>
        <tr>
          <th>{{ 'MiClase.Row.BloqueInicio' | translate }}</th>
          <td>{{ asistencia.bloqueInicio }}</td>
        </tr>
        <tr>
          <th>{{ 'MiClase.Row.BloqueTermino' | translate }}</th>
          <td>{{ asistencia.bloqueTermino }}</td>
        </tr>
        <tr>
          <th>{{ 'MiClase.Row.Dia' | translate }}</th>
          <td>{{ asistencia.dia }}</td>
        </tr>
        <tr>
          <th>{{ 'MiClase.Row.HoraInicio' | translate }}</th>
          <td>{{ asistencia.horaInicio }}</td>
        </tr>
        <tr>
          <th>{{ 'MiClase.Row.HoraFin' | translate }}</th>
          <td>{{ asistencia.horaFin }}</td>
        </tr>
        <tr>
          <th>{{ 'MiClase.Row.IdAsignatura' | translate }}</th>
          <td>{{ asistencia.idAsignatura }}</td>
        </tr>
        <tr>
          <th>{{ 'MiClase.Row.NombreAsignatura' | translate }}</th>
          <td>{{ asistencia.nombreAsignatura }}</td>
        </tr>
        <tr>
          <th>{{ 'MiClase.Row.NombreProfesor' | translate }}</th>
          <td>{{ asistencia.nombreProfesor }}</td>
        </tr>
        <tr>
          <th>{{ 'MiClase.Row.Seccion' | translate }}</th>
          <td>{{ asistencia.seccion }}</td>
        </tr>
        <tr>
          <th>{{ 'MiClase.Row.Sede' | translate }}</th>
          <td>{{ asistencia.sede }}</td>
        </tr>
      </tbody>
    </table>
  </ion-card-content>
</ion-card>

<div *ngIf="!asistencia" style="align-items: center; text-align: center;">
  <h4 class="ion-padding-top">{{ 'MiClase.Label.SinDatos' | translate }}</h4>
</div>