<ion-content [fullscreen]="true" class="ion-padding-horizontal ion-text-center">
  <div class="background"></div>
  <div class="centrar">
    <div>
      <img src="../../assets/img/logoBlanco.png" style="width: 75%;">
      <h1 class="ion-padding-bottom">{{ 'AppName' | translate }}</h1>
      <ion-card>
        <ion-card-header style="color: white;">
          <h3>{{ 'Pregunta.Title.RecuperarContraseña' | translate }}</h3>
          <h5>{{ 'Pregunta.Label.Paso2' | translate }}</h5>
          <br>
          <h5>{{ nombre }}  {{ apellido }}</h5>
        </ion-card-header>
        <ion-card-content class="ion-padding-vertical">
          <ion-item>
            <ion-input [(ngModel)]="respuestaSecreta" type="text" label="{{ fraseSecreta }}" labelPlacement="floating" fill="outline" placeholder="{{ 'Pregunta.Placeholder.Pregunta' | translate }}" required></ion-input>
          </ion-item>
        </ion-card-content>
  
        <ion-button type="submit" class="ion-padding-vertical button1" (click)="verificarRespuesta()">{{ 'Pregunta.Button.RecuperarContraseña' | translate }}</ion-button>
      </ion-card>
      <ion-row>
        <ion-col>
          <ion-nav-link (click)="ingreso()">{{ 'Ingreso.Button.IniciarSesion' | translate }}</ion-nav-link>
        </ion-col>
      </ion-row>
    </div>
  </div>
</ion-content>