<app-header
  (clickQrTest)="qrTest()">
</app-header>

<ion-content [fullscreen]="true">

  <!-- Componente para escanear códigos QR -->
  <app-codigoqr 
    *ngIf="selectedComponent === 'codigoqr'"
    (scanned)="webQrScanned($event)"
    (stopped)="webQrStopped()">
  </app-codigoqr>

  <!-- Componente para mostrar detalles de asistencia -->
  <app-mi-clase 
    *ngIf="selectedComponent === 'mi-clase'">
  </app-mi-clase>

  <!-- Componente del foro -->
  <app-foro 
    *ngIf="selectedComponent === 'foro'">
  </app-foro>

  <!-- Componente para mostrar datos del usuario -->
  <app-mis-datos 
    *ngIf="selectedComponent === 'mis-datos'"> 
  </app-mis-datos>

</ion-content>

<!-- Componente del pie de página -->
<app-footer></app-footer>