// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/

:root {
    --ion-background-color: #0F0F0F;

    --ion-color-primary: #1A1A1A;
    --ion-color-primary-rgb: 26,26,26;
    --ion-color-primary-contrast: #FFFFFF;
    --ion-color-primary-contrast-rgb: 255,255,255;
    --ion-color-primary-shade: #000000;
    --ion-color-primary-tint: #333333;
    
    --ion-color-secondary: #666666;
    --ion-color-secondary-rgb: 102,102,102;
    --ion-color-secondary-contrast: #FFFFFF;
    --ion-color-secondary-contrast-rgb: 255,255,255;
    --ion-color-secondary-shade: #555555;
    --ion-color-secondary-tint: #777777;
    
    --ion-color-tertiary: #FFB800;
    --ion-color-tertiary-rgb: 255,184,0;
    --ion-color-tertiary-contrast: #000000;
    --ion-color-tertiary-contrast-rgb: 0,0,0;
    --ion-color-tertiary-shade: #E6A500;
    --ion-color-tertiary-tint: #FFC233;
    
    --ion-color-success: #666666;
    --ion-color-success-rgb: 102,102,102;
    --ion-color-success-contrast: #FFFFFF;
    --ion-color-success-contrast-rgb: 255,255,255;
    --ion-color-success-shade: #555555;
    --ion-color-success-tint: #777777;
    
    --ion-color-warning: #FFB800;
    --ion-color-warning-rgb: 255,184,0;
    --ion-color-warning-contrast: #000000;
    --ion-color-warning-contrast-rgb: 0,0,0;
    --ion-color-warning-shade: #E6A500;
    --ion-color-warning-tint: #FFC233;
    
    --ion-color-danger: #1A1A1A;
    --ion-color-danger-rgb: 26,26,26;
    --ion-color-danger-contrast: #FFFFFF;
    --ion-color-danger-contrast-rgb: 255,255,255;
    --ion-color-danger-shade: #000000;
    --ion-color-danger-tint: #333333;
    
    --ion-color-light: #FFFFFF;
    --ion-color-light-rgb: 255,255,255;
    --ion-color-light-contrast: #000000;
    --ion-color-light-contrast-rgb: 0,0,0;
    --ion-color-light-shade: #EEEEEE;
    --ion-color-light-tint: #FFFFFF;
    
    --ion-color-medium: #666666;
    --ion-color-medium-rgb: 102,102,102;
    --ion-color-medium-contrast: #FFFFFF;
    --ion-color-medium-contrast-rgb: 255,255,255;
    --ion-color-medium-shade: #555555;
    --ion-color-medium-tint: #777777;
    
    --ion-color-dark: #000000;
    --ion-color-dark-rgb: 0,0,0;
    --ion-color-dark-contrast: #FFFFFF;
    --ion-color-dark-contrast-rgb: 255,255,255;
    --ion-color-dark-shade: #000000;
    --ion-color-dark-tint: #333333;
    

    --ion-background-color: #1A1A1A !important;

    ion-nav-link {
        background-color: rgba(26, 26, 26, 0.5);
        padding: 10px;
        border-radius: 5px;
        font-size: 0.8125rem;
        font-weight: 600;
        text-transform: uppercase;
        margin: 5px;
    }

    ion-button {
        --background: #FFB800;
        font-size: 0.8125rem;
        font-weight: 600;
        text-transform: uppercase;
        color: #000000;
    }
    
    ion-alert {
        //background color
        // .alert-wrapper.sc-ion-alert-md {
        //   background-color: #f8f4aa;
        //   --background: #f8f4aa
        // }
        
        .alert-head {
            height: 60px;
        }

        // Header Text
        .alert-title.sc-ion-alert-md {
            font-size: 20px !important;
            font-weight: 600;
            text-transform: uppercase;
            color: var(--ion-text-color, #00000080);
            transform: translateY(-15px);
        }
        
        // checkbox border color
        [aria-checked="true"].sc-ion-alert-md .alert-radio-icon.sc-ion-alert-md {
            border-color: #FFB800;
        }
        
        // checkbox or radio button color
        .alert-radio-inner.sc-ion-alert-md {
            background-color: #FFB800 !important;
        }

        // Checked text color
        [aria-checked="true"].sc-ion-alert-md .alert-radio-label.sc-ion-alert-md {
            color: #FFB800;
        }

        // Height of text
        .alert-tappable.sc-ion-alert-md {
            height: 50px !important;
        }
        
        // Button color
        .alert-button-inner.sc-ion-alert-md {
            color: #ffffff;
            font-weight: bold;
            font-size: larger;
        }
    }

    ion-toggle {
        --handle-background-checked: #FFB800; /* Color amarillo para el mango cuando está activado */
        --track-background-checked: #ffb70080;
    }

    ion-checkbox {
        --background: #FFFFFF; /* Color de fondo del checkbox cuando no está marcado */
        --border-color: #FFB800; /* Color del borde del checkbox cuando no está marcado */
        --checkmark-color: #000000; /* Color de la marca de verificación */
        --checked-background: #FFB800; /* Color de fondo cuando está marcado */
        --border-color-checked: #FFB800; /* Color del borde cuando está marcado */
        --checkbox-background-checked: #FFB800; /* Color de fondo del checkbox cuando está marcado */
    }
      
}

body[color-theme='EscAdmin'] {
    --ion-background-color: #AC4FC6 !important;
}

body[color-theme='EscComm'] {
    --ion-background-color: #D50032 !important;
}

body[color-theme='EscInf'] {
    --ion-background-color: #307FE2 !important;
}

body[color-theme='EscMA'] {
    --ion-background-color: #A1D884 !important;
}

body[color-theme='EscTrm'] {
    --ion-background-color: #2AD2C9 !important;
}