ion-item {
  --padding-start: 16px;
  --padding-top: 10px;
  --inner-padding-top: 10px;
}

ion-input {
  --inner-padding-start: 12px;
  overflow: visible; /* Asegura que el label no se corte */
}

ion-label {
  white-space: nowrap;
  overflow: visible; /* Asegura que no se corte si flota */
}

ion-item {
  min-height: 70px; /* Asegura espacio para el label flotante */
  overflow: visible; /* Asegura que el contenido no se corte */
}

ion-datetime {
  --background-rgb: none;
}