<ion-header></ion-header>
<ion-toolbar>
  <ion-title>Inicio</ion-title>
</ion-toolbar>

<ion-content class="ion-padding">
  <div class="welcome-container">
    <h1 class="welcome-title" *ngIf="usuario">¡Bienvenido/a, {{ usuario.nombre }} {{ usuario.apellido }}!</h1>
    <p class="instruction-text">Escanea el código QR para registrar tu asistencia a clases</p>
    
    <!-- Botón para iniciar escaneo de QR -->
    <ion-button expand="full" (click)="comenzarEscaneo()">
      <ion-icon name="camera"></ion-icon>
      <ion-label>Escanear QR</ion-label>
    </ion-button>

    <div *ngIf="escaneando">
      <video #video autoplay></video>
      <canvas #canvas style="display: none;"></canvas>
    </div>
  </div>
</ion-content>

<ion-tabs>
  <ion-tab-bar>
    <ion-tab-button routerLink="/inicio" tab="inicio">
      <ion-label>Inicio</ion-label>
    </ion-tab-button>
    <ion-tab-button routerLink="/mi-clase" tab="mi-clase">
      <ion-label>Mi Clase</ion-label>
    </ion-tab-button>
    <ion-tab-button (click)="irAMisDatos()" tab="mis-datos">
      <ion-label>Mis Datos</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>