ion-toolbar {
  --background: #1A1A1A;
  overflow: visible;
  position: relative;
}

ion-toolbar ion-title {
  color: white;
  position: absolute;
  top: 30%;
}

ion-footer {
  --background: #1A1A1A;
}

ion-content {
  --background: #FFFFFF;
  display: flex;
  justify-content: center; /* Centra verticalmente */
  align-items: center; /* Centra horizontalmente */
  text-align: center;
  height: 100%; /* Asegura que ocupe todo el espacio */
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center; /* Centra los elementos en el eje horizontal */
}

.video-frame {
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  width: 50vw;
  height: 50vw;
  object-fit: cover;
  margin: 0 auto;
  margin-bottom: 20px;
}

.cerrar-sesion {
  margin-top: 60px; /* Añade espacio adicional arriba del botón de "Cerrar Sesión" */
}