.welcome-container {
    text-align: center;
    padding: 20px;
  }
  
  .welcome-title {
    animation: slide-in 1s ease-in-out forwards; // Solo la animación de entrada
    font-size: 2em;
    color: #3880ff; // Color corporativo
  }
  
  .instruction-text {
    font-size: 1.2em;
    color: #666;
    margin-top: 10px;
  }
  
  @keyframes slide-in {
    from {
      transform: translateX(-50%); // Desde la izquierda
      opacity: 0;
    }
    to {
      transform: translateX(0); // A la posición central
      opacity: 1;
    }
  }